<center>
<h1>Top Songs on Song Spy</h1>

<table cellpadding="10">
  <tr>
    <th>Song Name</th>
    <th>Album Name</th>
    <th>Artist</th>
    <th>Rating</th>
  </tr>

<% @songs.each do |song| %>
  <tr align="right">
    <td><%= link_to song.name, song %></td>
    <td><%= link_to song.album.name, song.album %></td>
    <td><%= link_to song.artist.name, song.artist %></td>
    <td><%= song.rating %></td>
  </tr>
<% end %>
</table>
</center>
