<center>
<h1>Top 5 Albums on Song Spy</h1>

<table cellpadding="10">
  <tr>
    <th>Album Name</th>
    <th>Artist</th>
    <th>Rating</th>
  </tr>

<% @albums.each do |album| %>
  <tr align="right">
    <td><%= link_to album.name, album %></td>
    <td><%= link_to album.artist.name, album.artist %></td>
    <td><%= album.rating %></td>
  </tr>
<% end %>
</table>
</center>
